<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rapport</title>
    <style>
        @page {
            size: a4 portrait;
            margin: 2cm;
        }
    </style>
</head>

<body>
    <div>
        <table>
            {% for line in lines %}
            <tr style="padding-bottom: 2px;">
                <td>
                    <img src="{{line.image.large.url}}" />
                </td>
                <td style="padding-left: 10px">
                    <h4>
                        {{line.zone.code}}
                    </h4>
                    <p>
                        {{line.description}}
                    </p>
                </td>
            </tr>
            <tr style="padding-bottom: 2px;">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>